.title {
    font-size: 20px;
    margin-bottom: 20px;
}

.friends {
    display: flex;
    gap: 15px;
}

.friend {
    text-align: center;
}

.friend:hover .delete {
    opacity: 1;
}

.imgWrapp {
    position: relative;
}

.img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    border: 1px solid #757788;
    margin-bottom: 10px;
    cursor: pointer;
}

.friend span {
    font-size: 16px;
    cursor: pointer;
    transition: all .3s;
}

.friend span:hover {
    color: #57d8f9;
}

.delete {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: rgba(85, 116, 134, 0.7);
    opacity: 0;
    cursor: pointer;
    transition: all .3s;
    z-index: 2;
}

.delete img {
    width: 30px;
    height: 30px;
    object-fit: cover;
}