/*Обнуление*/
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  color: rgb(36, 34, 34);
  line-height: 1;
  font-size: 16px;
  font-family: Verdana, sans-serif;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

/*--------------------*/

body {
  background-color: #EDF2F6;
}

#root {
  height: 100%;
}

.app-wrapper {
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
  padding: 0 15px;
  display: grid;
  grid-template-areas:
    "h h"
    "m c";
  grid-template-rows: 70px 1fr;
  grid-template-columns: calc(20% - 10px) 80%;
  gap: 10px;
}

.app-wrapper-content {
  grid-area: c;
  background-color: #FFFFFF;
  border: 1px solid #e0e1e3;
}